*.npy
*.zip
homo_net/incl
homo_net/RUNS
homo_net/RUNS/KittiSeg_pretrained
*ckpt*
net/utils/gt_image.npy
net/data/
*.txt
*out.txt
*.idea
*.swo
*.swp
*.pyc
*.png
*.jpg
doc/*.aux
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.out
doc/*.gz
doc/*.pdf


